.container {
    width: 100vw;
    height: 100svh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressContainer {
    overflow: hidden;
}

.loading {
    width: 100vw;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    color: #0F1010;
    display: flex;
    justify-content: center;
}

.loading > div {
    display: inline-block;
}

.loading > div:first-child {
    width: 55%;
    text-align: right;
}

.loading > div:last-child {
    width: 45%;
    text-align: left;
}

.imgContainer {
    display: none;
}

@media(max-width: 767px) {
    .loading {
        font-size: 3rem;
    }
  }