@font-face {
    font-family: 'Stolzl';
    src: url(../fonts/stolzl_regular.otf) format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Apple Garamond CYR';
    src: url(../fonts/applegaramondcyr_regular.ttf ) format('truetype');
  }
