
.header {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/audi.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > h2 {
    /* width: 70rem; */
    height: 4.8rem;
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    /* opacity: 0; */
}

.header > h2 > span {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}

.titleBtn {
    position: absolute;
    top: 10rem;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: 'Stolzl', sans-serif;
    color: #fff;
    cursor: pointer;
}

.main {
    background-color: #0F1010;
    padding: 23rem 3.6rem;
}

.footer {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/audi/audi-finish.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > h2 {
    height: 4.8rem;
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    cursor: pointer;
}

.section {
}

.audi1 {
    width: 68rem;
    height: 68rem;
    background-image: url(../../assets/audi/audi1.png);
    background-position: center;
    background-size: cover;
}

.audi2 {
    margin: 23rem 0 23rem auto;
    width: 71.3rem;
    height: 71.3rem;
    background-image: url(../../assets/audi/audi2.png);
    background-position: center;
    background-size: cover;
}

.audi3 {
    margin-left: 24.2rem;
    width: 71.3rem;
    height: 69rem;
    background-image: url(../../assets/audi/audi3.png);
    background-position: center;
    background-size: cover;
}


