.container {
    background-color: #0F1010;
}

.welcomeSection {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/audi/title.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeSection > h2 {
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    /* opacity: 0; */
    overflow: hidden;
}

.firstSpan {
    opacity: 1;
    white-space: pre;
    display: inline-block;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
}

.secondSpan {
    white-space: pre;
    position: relative;
    display: inline-block;
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}

/* .welcomeSection > h2 > span:last-child {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
} */

/* .titleBtn {
    position: absolute;
    top: 10rem;
    padding: 0 5rem;
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Stolzl', sans-serif;
    color: #fff;
    cursor: pointer;
}

.titleBtn > p {
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.titleBtn:hover > p {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateY(0); opacity: 1;}
    50%  { transform: translateY(-1.5rem); opacity: 0; }
    51%  { transform: translateY(1.5rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
} */

.main {
    background-color: #0F1010;
    padding: 23rem 3.6rem;
    display: flex;
    gap: 23rem;
    flex-direction: column;
}

.main > div {
    width: 69rem;
    height: 69rem;
}

.audi1 {
    background-image: url(../../assets/audi/audi1.png);
    background-position: center;
    background-size: cover;
    align-self: flex-start;
}

.audi2 {
    background-image: url(../../assets/audi/audi2.png);
    background-position: center;
    background-size: cover;
    align-self: flex-end;
}

.audi3 {
    background-image: url(../../assets/audi/audi3.png);
    background-position: center;
    background-size: cover;
    align-self: center;
    transform: translateX(-20%);
}

.footer {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/audi/audi-finish.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > h2 {
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    cursor: pointer;
}

.nextProjectTitle {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

@media(max-width: 767px) {

    .titleBtn {
        top: 10vh;
        transform: translateY(-50%);
    }

    .welcomeSection > h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .main > div {
        height: 38rem;
        width: 38rem;
    }

    .audi3 {
        transform: none;
    }

    .footer > h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
  }

