.main {
    height: 100vh;
    background-color: #0F1010;
    overflow: hidden;
}

.mainTitle {
    position: absolute;
    /* width: 10.5rem; */
    /* height: 2.4rem; */
    left: calc(50vw - 5.25rem);
    top: 10rem;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

