.main {
    height: 100vh;
    background-color: #0F1010;
    overflow: hidden;
}

.mainTitle {
    position: absolute;
    /* width: 10.5rem; */
    height: 2.4rem;
    left: calc(50vw - 5.25rem);
    top: 10rem;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
}

.aboutBtn {
    position: absolute;
    width: 7.2rem;
    height: 3rem;

    left: calc(50vw - 3.6rem);
    bottom: 5rem;

    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;

    color: #979797;
    cursor: pointer;
}
