.main {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: #0F1010;
    overflow: hidden;
}

/* чет сделать с тем что на яфоне не убирается снизу строка */

/* // сделать на гридах, add minmax */

.title {
    opacity: 0;
    text-align: center;
    line-height: 20vh;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
    z-index: 2;
}

.aboutBtn {
    text-align: center;
    line-height: 20vh;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #979797;
    opacity: 0;
}

.cardVisibleContainer {
    /* position: absolute;
    top: 20vh; */
    opacity: 0;
    overflow: hidden;
}

.cardContainer {
    height: 100%;
    width: 800vw;
    /* transform: translateX(calc(-100vw + 45px)); */
    display: flex;
    padding: 0 30px;
    gap: 15px;
}

.card {
    /* margin: 0 1.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: calc(100vw - 60px);
    border-radius: 10px;
    /* background-image: url(../../assets/union-hookah-catalog/title.png); */
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
}

.card > h2 {
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.5rem;
    z-index: 2;
    pointer-events: none;
}

.card > h2 > span {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}

.hookahCatalogCard {
    background-image: url(../../assets/union-hookah-catalog/title.jpg);
}

.hookahBrandCard {
    position: relative;
    background-color: #30BA09;
    background-image: none;
}

.hookahBrandCard::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.4rem;
    height: 8rem;
    /* make it smaller */
    mask-image: url(../../assets/union-hookah/logo-main.svg);
    -webkit-mask-image: url(../../assets/union-hookah/logo-main.svg);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #000;
}

.threeDCard {
    background-image: url(../../assets/3d.png);
}
.audiCard {
    background-image: url(../../assets/audi/title.png);
}
.fontCard {
    background-image: url(../../assets/font/title-mobile.png);
}

.transitionDiv {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
}