.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.5rem;
    height: 45rem;
    background-color: #fff;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    will-change: width, opacity, top, left, border-radius;
}

.card1 {
    background-image: url(../../../assets/union-hookah-catalog/title.png);
}

.card2 {
    position: relative;
    background-color: #30BA09;
}

.card3 {
    background-image: url(../../../assets/3d.png);
}

.card4 {
    background-image: url(../../../assets/audi/title.png);
}

.card5 {
    background-image: url(../../../assets/font/title.png);
}

.card2::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16.6rem;
    height: 22rem;
    /* make it smaller */
    mask-image: url(../../../assets/union-hookah/logo-main.svg);
    -webkit-mask-image: url(../../../assets/union-hookah/logo-main.svg);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #000;
}

.card > h2 {
    /* width: 70rem; */
    /* height: 4.8rem; */
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
    opacity: 0;
    z-index: 2;
}

.card > h2 > span {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}