
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.5rem;
    height: 45rem;
    background-color: #fff;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    opacity: 1;
    cursor: pointer;
    will-change: width, opacity, top, left, border-radius;
    font-size: 1rem;
    /* transition: all 1s ease; */
}

/* .card:hover {
    width: 70rem;
} */

.hookahCatalogCard {
    background-image: url(../../../assets/union-hookah-catalog/title.png);
}

.hookahBrandCard {
    position: relative;
    background-color: #30BA09;
}

.threeDCard {
    background-image: url(../../../assets/3d.png);
}

.audiCard {
    background-image: url(../../../assets/audi/title.png);
}

.fontCard {
    background-image: url(../../../assets/font/title.png);
}

.hookahBrandCard::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 16.6rem;
    height: 22rem; */
    width: 6.64em;
    height: 8.8em;
    /* make it smaller */
    mask-image: url(../../../assets/union-hookah/logo-main.svg);
    -webkit-mask-image: url(../../../assets/union-hookah/logo-main.svg);
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: #000;
}

.card > h2 {
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
    opacity: 0;
    z-index: 2;
}

/* .card > h2 > span {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
} */

.firstSpan {
    opacity: 1;
    white-space: pre;
    display: inline-block;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4.8rem;
}

.secondSpan {
    white-space: pre;
    position: relative;
    display: inline-block;
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}