.container {
    background-color: #0F1010;
}

.welcomeSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/font/title.png);
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.welcomeSection > h2 {
    text-align: center;
    color: #fff;
    font-family: 'Stolzl', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    z-index: 2;
}

.welcomeSection > h2 > span {
    font-family: 'Apple Garamond CYR';
    text-transform: capitalize;
    font-size: 1em;
    line-height: 1;
}

.titleBtn {
    position: absolute;
    top: 10rem;
    font-size: 2rem;
    line-height: 2.4rem;
    font-family: 'Stolzl', sans-serif;
    color: #fff;
    cursor: pointer;
}

.firstSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    /* background-color: #494949; */
}

.letter {
    width: 23rem;
    height: 23rem;
}

.letter:nth-child(1) {
    background-image: url(../../assets/font/1.png);
    background-position: center;
    background-size: cover;
}

.letter:nth-child(2) {
    background-image: url(../../assets/font/2.png);
    background-position: center;
    background-size: cover;
}

.letter:nth-child(3) {
    background-image: url(../../assets/font/3.png);
    background-position: center;
    background-size: cover;
}

.letter:nth-child(4) {
    background-image: url(../../assets/font/4.png);
    background-position: center;
    background-size: cover;
}

.letter:nth-child(1):hover {
    background-image: url(../../assets//font/1hover.png);
}
.letter:nth-child(2):hover {
    background-image: url(../../assets//font/2hover.png);
}
.letter:nth-child(3):hover {
    background-image: url(../../assets//font/3hover.png);
}
.letter:nth-child(4):hover {
    background-image: url(../../assets//font/4hover.png);
}



.secondSection {
    height: 144rem;
    margin: 3.6rem;
    background-image: url(../../assets/font/alphabet.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.thirdSection {
    margin: 20rem 0;
    height: 80vw;
    width: 100vw;
    background-image: url(../../assets/font/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mask {
    width: 100vw;
    height: 80vw;
    background-image: url(../../assets/font/mask.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.footer {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/font/final.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > h2 {
    text-align: center;
    color: #fff;
    font-family: 'Stolzl';
    font-style: normal;
    font-weight: 400;
    font-size: 8rem;
    line-height: 8rem;
    cursor: pointer;
}